@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ringAnimation {
  0% {
    stroke-dashoffset: 157.07963267948966;
  }
}
.progress {
  animation: 1s ease-in-out 0s 1 ringAnimation;
  transition: all ease-in-out 1s;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Geist Mono';
  /* font-family: 'Geist'; */
}
